
<div>
    <h1 class="title"> About Me </h1>
    <h2 class="center"> Welcome to my Web Page! </h2>
    <p class="center">My name is John Hargenrader. I'm a passionate full-stack web developer, and this is my Portfolio Website! I am currently a juinor at 
        Mount St. Mary's University majoring in Computer Sciecne and minoring in Cyber Security.  I am also passionate in machine learning and developing 
        AI algorithms.  You can follow the links above to view my resume, contact me, or view my previous projects to see the numerous of technologies I've worked with!
    </p>
</div>


